<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <!--    <bean id="alien" class="org.example.Alien" scope="prototype"/>--> <!--another scope is singleton, singleton creates only one bean no matter how many times you ask for it -->
    <bean id="alien" class="org.example.Alien">
        <!--        <property name="age" value="20"/>-->
        <!--        <property name="laptop" ref="comp1"/>-->

        <!--        <constructor-arg value="20"/>-->
        <!--        <constructor-arg ref="laptopBean"/>-->

        <!--        <constructor-arg index="1" ref="desktopBean"/>-->
        <!--        <constructor-arg value="20" index="0"/>-->
    </bean>

    <bean id="comp" class="org.example.Laptop" scope="prototype" primary="true" lazy-init="true"/>
    <bean id="comp1" class="org.example.Desktop"/>

</beans>
