<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <!--    <bean id="alien" class="org.example.Alien" scope="prototype"/>-->
    <bean id="alien" class="org.example.Alien" scope="prototype">
        <property name="age" value="20"/>
    </bean>
</beans>
